@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --color-bg: #dfd3c3;
  --color-text: #16120f;
}

.dark {
  --color-bg: #16120f;
  --color-text: #dfd3c3;
}

body {
  background-color: var(--color-bg);
  color: var(--color-text);
  transition: background-color 0.2s ease, color 0.2s ease;
}

/* Chrome, Edge, Safari */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: var(--color-bg);
}

::-webkit-scrollbar-thumb {
  background: var(--color-text);
  border-radius: 9999px;
  border: 2px solid var(--color-bg);
}

::-webkit-scrollbar-thumb:hover {
  opacity: 0.8;
  background: color-mix(in srgb, var(--color-text) 85%, white 15%);
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--color-text) var(--color-bg);
}